.container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  max-width: 200px;
  margin: 10px 10px;
}

.movie-card:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  display: none;
}

.movie-card:hover .title {
  display: block;
}

.mat-card-actions{
  display: none;
}

.movie-card:hover .mat-card-actions {
  display: block;
}