<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Movies</h1>
    <a routerLink="movies" mat-list-item
      ><mat-icon fontSet="fas" fontIcon="fa-film"></mat-icon
    ></a>
  </section>
  <section>
    <h1>TV Shows</h1>
    <mat-icon fontSet="fas" fontIcon="fa-tv"></mat-icon>
  </section>
  <section>
    <h1>Photos</h1>
    <mat-icon fontSet="fas" fontIcon="fa-camera"></mat-icon>
  </section>
</div>
