<div class="container" fxLayout>
  <div class="search">
    <form class="movie-search">
      <mat-form-field class="example-full-width">
        <mat-label>Find Movie</mat-label>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" />
      </mat-form-field>
    </form>
  </div>

  <div class="container" fxLayout>
    <mat-card class="movie-card" *ngFor="let movie of moviesSearch">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon
            fontSet="fas"
            fontIcon="fa-cloud-download-alt"
            fxLayout
            *ngIf="checkIfMovieExists(movie.tmdbId)"
          ></mat-icon>
        </div>
        <mat-card-title class="title">{{ movie.title }}</mat-card-title>
        <mat-card-subtitle class="title">{{ movie.year }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ movie.remotePoster }}"
        onerror="if (this.src != 'error.jpg') this.src ='../../../assets/images/funny-wet-cats-coverimage.jpg';"
      />
      <mat-card-content>
        <p class="overview">{{ movie.overview }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
